<div class="row">
    {% for link in links %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                    <p class="card-text">{{ link.name }}</p>
                    <p class="description">{{  link.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ link.url }}" class="btn btn-sm btn-outline-secondary">View</a>

                            <a href="" title="Editer le lien" class="btn btn-sm btn-outline-secondary">Edit</a>
                            <form action="?_method=DELETE" method="post">
                                <button type="submit" title="Supprimer le lien" class="btn btn-sm btn-outline-danger">X</button>
                            </form>
                        </div>
                        <small class="text-muted">9 mins</small>
                        <small class="text-muted">{{ link.user.username }}</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
