.link__author {
  display: block;
  text-align: right;
}

.seen {
  opacity: .8;
}

.link__seen__badge {
  position: absolute;
  right: 5px;
  top: 5px;
}

.link__image {
  height: 225px;
  width: 100%;
}

.card__link {
  display: grid;
  grid-template-columns: 123px 2fr 1fr;
  background-color: #effafa;
  padding: 22px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
  transition-duration: .3s;
  border-left: 5px solid transparent;
  cursor: pointer;
  margin-top: 20px;
  &:hover {
    border-left: 5px solid var(--primary-color);
    box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
  }
}

.link__url {
  text-decoration: none;
  color: #000000;
  &:hover {
    text-decoration: none;
  }
}

.card__title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0;
  transition-duration: .3s;
  &:hover {
    color: var(--primary-color);
  }
}

.card__image {
  align-self: center;
  img {
    width: 100%;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
  }
}

.card__tags {
  color: var(--primary-color);
  align-self: center;
  text-align: right;
  .tag {
    top: 0;
    bottom: 0;
    background-color: rgba(#5BA4A4, .2);
    border-radius: 15px;
    padding: 3px 11px;
    font-size: .8em;
    transition-duration: .3s;
    &:hover {
      background-color: var(--primary-color);
      color: #FFF;
    }
  }
}

.card__info {
  font-size: .8em;
  color: #838c89;
}

@media only screen and (max-width: 580px) {
  .card__link {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 40px;
  }
  .card__body {
    border-bottom: 1px solid #838c89;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .card__tags {
    text-align: center;
  }
  .card__image {
    position: absolute;
    top: -22px;
    left: 20px;
    img {
      width: 70px;
      height: 70px;
    }
  }
}
