.link__author {
  display: block;
  text-align: right;
}

.seen {
  opacity: .8;
}

.link__seen__badge {
  position: absolute;
  right: 5px;
  top: 5px;
}

.link__image {
  height: 225px;
  width: 100%;
}
