.bg-primary {
  background-color: var(--dark_color) !important;
}

.navbar-dark .navbar-brand {
  color: var(--primary-color);
  font-weight: 900;
}

.notification__icon {
  line-height: 2 !important;
}
