{% extends 'base.html.twig' %}

{% block title 'Editer un lien' %}

{% block body %}

    <h1>Editer le lien</h1>

    <div class="card">
        {{ form_start(form, {attr: {class: 'link__form'}}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Valider</button>
        {{ form_end(form) }}
    </div>

{% endblock %}
